<div class="tweet"><img src="{{ tweet.profileImage }}" alt="{{ tweet.user }}" align="left"/> {{ tweet.content }} <br />
<span class="meta">by {{ tweet.user }} on {{ tweet.date|date('d-m-Y') }}</span><br />
</div>